<!DOCTYPE html?

<html>

<head>
    <title>Oras</title>
    <link rel='icon' href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Gauti orus</p>
        <form>
            <input placeholder="Adresas">
            <button>Ieškoti</button>
        </form>

        <p id="zinute1"></p>

        <p id="zinute2"></p>
    </div>
    
    {{>footer}}

    <script src="js/app.js"></script>
</body>

</html>